<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>-->
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <!--WebApi用于监听的DLL-->
    <add key="WebApiAssembly" value="TCEPORT.TC.Business" />
    <add key="RootModuleID" value="355" />
    <add key="UIModuleLevel" value="2" />
    <add key="ConnectionType" value="MSSQL" />
    <add key="DefaultConnection" value="sqlStr" />
    <add key="WSUrl" value="Login.aspx?BackURL=" />
    <add key="first" value="ERP" />
    <add key="ERP" value="ERP" />
    <!--文件存放地址-->
    <add key="FilePath" value="/UploadFiles/"/>
  </appSettings>
  <system.web>
    <!--设定字符集-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    <!--上传控制，按需要修改，分别为大小、时间、连接数-->
    <httpRuntime maxRequestLength="20480" executionTimeout="60" appRequestQueueLimit="100"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
   <httpModules>
      <add name="WebApi" type="WebApi.Interceptor,WebApi" />
    </httpModules>
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <!--<sessionState mode="InProc" timeout="2" />-->
    <sessionState mode="StateServer"  timeout="20" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="15" />
  </system.web>
  <connectionStrings>
    <!--<add name="ora8" connectionString="User ID=TCSYS;pwd=TCSYS;Data Source=TCSYS136;Persist Security Info=False;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="ora8" connectionString="User ID=tc;pwd=tc;Data Source=cuixx;Persist Security Info=False;" providerName="System.Data.OracleClient" />-->
    <!--<add name="sqlStr" connectionString="server=192.168.118.4;database=CreateErp;user=sa;pwd=sa;" providerName="System.Data.SqlClient" />-->
    <add name="sqlStr" connectionString="Data Source=.;Initial Catalog=CreateErp;user=sa;pwd=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--IIS集成模式(webServer)-->
  <!--<system.webServer>
    <modules>
      <add name="WebApi" type="WebApi.Interceptor,WebApi" />
    </modules>
  </system.webServer>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TokenServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="4096" maxNameTableCharCount="65536" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
  </system.serviceModel>
    <system.webServer>
        <!--<httpProtocol>
            <customHeaders>
                <add name="P3P" value="CAO PSA OUR" />
            </customHeaders>
        </httpProtocol>-->
        <!--<directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>-->
    </system.webServer>
</configuration>